#bg-img{
  background-image:
  url("https://lh3.googleusercontent.com/aZqKxf9X3bPe68Tn4O6dzQ7Gk0w8OygVJYsg7st0PtAXg8izmneYx5QN9EEde8jULJDdDUeTUQVx9lKnrpPbB2mDRB18kEcGJm1vvEl2KVk4JwKUdCpM7kvWeODhLzYZWnXdR_N1Q0WsCX0l2dQVEPOoSd1hBwjT6c_QK8ytB8eDfhCuR20fZqsIk5s0tCUftMaD2Gruj9C6P4grcqf9YPuQrvxnouK9lS6vt6EURFjXJsz4eKYvkA95uFCXDtEitCbcsTWIyjiMDU0dbmtnfidlNVASVYPzjkYmNAKw7W03Vvo2W15_D3NOo3vUkS29BFAdrrVNqCI8ebGVup_5BulbovBc7XIg2ce9ULcLmmnTyOnoBnA0Pq_YqG0htgF-a-iL4af2bwLek8cMStdFBfZ8qW2-0CmYrGV9q9YZT2vafUiPY6UKLrIk1gLqDs9eydKU-mflFJXGnf7ABfgkkBOpwHfyABEYpoanVkrXuwYKpmM0sqp6Fh5xkJbsepnW5aTqjfsfzGBnUQNQpChjdEsSRSt8RmYpzh6G7e6l92eaGNRPfWF994krWXUX4DXarHQwHzLymt3NoOfo2_cgQI-p5YIa1UOnuU2tc9ko_rI6OGMm-5uU7c0aq3V11KHGiJ6-oDQkIpNfHIbaiQxVxDQOWKzzVbBB=w994-h662-no");
  background-size: cover;
/*
  width: 100%;
  height: 800px;
  background-position-y: -575%; */
  height: 100%;
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#header{
}
.btn-color{
  color: #545454;
  font-size: 24px;
}
.btn-home{
  font-size: 40px;
  font-weight: bold;
  color: #296647;
  font-family: 'Playfair Display', serif;
  text-decoration: none !important;
}
.w-60{
  width: 60%;
}
.quote01{
  color: #9b9b9b;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
.h-500px{
  height: 500px
}
.bg-white{
  background-color: white;
}
.congrat{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}
.congrat0{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  /* color: white; */
  font-weight: bold;
}
a:hover {
  text-decoration: none !important;
}
.btn-home:hover {color: #235b3f}
.btn-color:hover {color: #235b3f}
.caption{
  background-color: black;
  opacity: 0.7;
}

.img-border{
  background-color: white;
  border-radius: 5px;
  border-color: white;
  border-width: 8px;
  border-style: solid;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);}
.caption-border{
  border-color: white;
  border-width: 8px;
  border-style: solid;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
}
/* mmm */
