<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trang cá nhân</title>
  </head>
  <body>
    <h2>{{username}}</h2>
    <a href="{{url_for("logout")}}">Đăng xuất</a>
    {% if num_missions_uncompleted > 0 %}
    <a href="{{url_for("mission_detail")}}">Chi tiết nhiệm vụ hiện tại</a>
    {% else %}
    <a href="{{url_for("")}}">Lưu lại 7 nhiệm vụ đã thực hiện</a>

    <h3>Danh sách nhiệm vụ đã hoàn thành</h3>
    {% for mission_completed in missions_completed %}
      <p>Tên nhiệm vụ: {{mission_completed.mission.mission_name}}</p>
      <p>Ảnh nhiệm vụ: </p>
      <img src="data:image/jpg;base64,{{mission_completed.image}}" alt="not found">

      <p>Caption:{mission_completed.caption}} </p>
      <br>
      <hr>
    {% endfor%}
  </body>
</html>
